.card {
    background-color: white;
    color: hsl(0, 0%, var(--size-lg));
    border-radius: var(--size-md);
    border: 1px solid white;
    box-shadow: 0px 0px var(--size-md) 0px rgb(0 0 0 / 20%);
    padding: var(--size-3xl);
}

.timer-display {
    font-size: var(--size-3xl);
    font-weight: 600;
}

.timer-label {
    font-size: var(--size-lg);
    font-weight: 500;
    text-align: center;
}

.timer-display,
.timer-label {
    cursor: default;
}

.btn {
    padding: var(--size-md) var(--size-md);
    outline: none;
    cursor: pointer;
    font-size: var(--size-lg);
    flex: 1;
    border: none;
    border-radius: var(--size-sm);
    font-weight: 500;
}

.btn:hover {
    scale: 1.05;
}

.btn:disabled {
    opacity: 0.9;
    cursor: not-allowed;
}

.btn:disabled:hover {
    scale: 1;
}

.btn.primary {
    background-color: tomato;
    color: white;
}

.btn-ghost {
    border: none;
    padding: var(--size-md);
    width: var(--size-xl);
    height: var(--size-xl);
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    transition: all 0.2s ease-in-out;
}

.btn-ghost:hover {
    background-color: var(--color-secondary);
}

.btn-ghost:disabled {
    background-color: transparent;
    opacity: 0.8;
    cursor: not-allowed;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--size-lg);
}

/* Circular progress */
.circular-progress {
    position: relative;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: conic-gradient(
        tomato var(--progress-deg),
        var(--color-secondary) 0deg
    );
    transition: all 0.3s ease-in-out;
}

.circular-progress::before {
    content: '';
    position: absolute;
    height: 210px;
    width: 210px;
    background-color: white;
    border-radius: 50%;
}

.timer-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: relative;
    text-align: center;
}

.progress-value {
    font-size: var(--size-2xl);
    font-weight: 600;
}

.emoji {
    font-family: 'Noto Emoji', sans-serif;
    font-weight: 600;
}

.session-label {
    font-size: 1.3rem;
    font-weight: 500;
    cursor: default;
}

/* Utilities */

.center {
    margin-inline: auto;
}

.my-4 {
    margin-top: var(--size-lg);
    margin-bottom: var(--size-lg);
}

.mt-5 {
    margin-top: var(--size-xl);
}

.mt-6 {
    margin-top: var(--size-2xl);
}
